.slideshow {
    text-align: center;
    align-items: center;
    background-color: #282c34;
    padding: 10px;
    margin: 0;
}

.slideshow img {
    text-align: center;
    height: 300px;
    width: auto;
    margin: auto;
}